h5{
	float: right;
	font-family: arial,sans-serif;
}
div.topmenu{
	float: right;
	margin: 7px 3px 0px 3px;
	opacity: .55;
}
div.topmenu:hover{
	opacity: .85;
}

#photo{
	float: right;
	margin: 3px 3px 0px 3px;
	}


div.topmenu1{
	float: right;
	margin: 15px 8px 0px 8px;
	font-weight: normal;
	font-family: arial,sans-serif;
	font-size: 13px;
	opacity: .75;
}
div.topmenu1:hover{
	opacity: .85;
    text-decoration: underline;
}
#user{
	float: right;
	margin: 15px 8px 0px 8px;
	font-weight: normal;
	font-family: arial,sans-serif;
	font-size: 13px;
	opacity: .45;
}
header{

}
#googleimg {
	width: 24%;
	position: absolute;  
    top: 0;  
    bottom: 155px;  
    left: 0;  
    right: 0;  
    margin: auto;
}
#googlediv {
	background-color: orange;
	height: 370px;
}
#searchbox{
	border: 1px ;
	border-color: lightgrey;
	border-style: solid;
	width: 550px;
	height: 38px;
	position: absolute;  
    top: 40px;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

#microphone{
	float: right;
}
#whitespace{
	width: 15px;
	background-color: white;
	float: right;
	color: white;
}